/* General styling */
:root {
    --default-font: "Chakra Petch", serif;
    --heading-font: "Arsenal SC", serif;
    --nav-font: "Gruppo", serif;
}


:root {
    --background-color: #ffffff;
    --default-color: #56a2ff;
    --heading-color: #000b61;
    --accent-color: #0a189b;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

:root {
    --nav-color: #212529;
    --nav-hover-color: #89a4f3;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #212529;
    --nav-dropdown-hover-color: #97bafc;
}

.light-background {
    --background-color: #9ecbff3d;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

body {
    font-family: var(--default-font);
    margin: 0;
}

.logo-pic {
    height: 75px;
    width: 95px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    background-color: var(--default-color);
    color: rgb(255, 255, 255);
    font-family: var(--heading-font);
    padding: 1px;
}

#header_section1 {
    display: flex;
    justify-content: space-between;
}

#headerimage {
    width: 30%;
    margin-left: 6%;
}

#header_title {
    text-align: center;
}

#signup,
#betechnician {
    text-align: center;
    font-size: large;
    padding: 3px;
    border: 1px solid var(--heading-color);
    border-radius: 6px;
    background-color: var(--heading-color);
}

#signup:hover,
#betechnician:hover,
nav a:hover {
    background-color: #ed5a5ae7;
}

nav {
    font-family: "Quicksand", serif;
    font-size: large;
    background-color:var(--heading-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

footer {
    background-color: var(--default-color);
    color: rgb(255, 255, 255);
    font-family: "DM Serif Text", serif;
    padding: 2%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    height: 40px;
    width: 40px;
}

#footer_links a {
    display: block;
}

#footer_links {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-left: 30%;
}

#footer_upper {
    display: flex;
}

#footer_lower {
    text-align: center;
    margin-top: 3%;
}